.profile_grid{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  column-gap: 10px;
}
.profile_card{
  font-family:arial;
  width:100%;
  height: 500px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.23);
  margin-right: 5px;
  border-radius: 3px;
  vertical-align: top;
}
.profile_pic{
  width:100%;
  height:380px;
  margin-bottom: 0px;
  margin-top: 0px;
  object-fit: cover;
}
.profile_name{
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
}
.mutual_friend{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 6px;
  margin-bottom: 16px;


}
.add_button{
  background-color: rgb(32, 32, 154);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  color: white;
  font-size: 16px;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.mutual_friend_pic{
  height: 28px;
  width: 28px;
  object-fit: cover;
  border-radius: 14px;
  margin-left: 4px;
}
.mutual_friend_row {
  margin-left: 8px;
  display: grid;
  grid-template-columns: 35px 1fr;
}