.search-container{
  display: flex;
  align-items: center;
  background-color: #EFF3F4;
  padding: 15px 20px;
  border-radius: 25px;
  margin-bottom: 20px;

}
.search_icon{
  width: 19px;
  margin: 0px 10px 0px 5px;
}
.search-container input{
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
}
input::placeholder{
  border: none;
  background-color: transparent;
}
.promo-container{
  border: 1px solid rgba(197, 192, 192,0.5);
  padding: 10px 7px 5px 5px;
  border-radius: 15px;
  

}
.promo-container p{
  font-size: 20px;
  font-weight: 700;
  margin: 0px 10px 20px 10px;
  
}
.account-container{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0px 10px 10px;

}
.profile-info{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.author-handle-second{
  font-size: 15px;
  font-weight: 400;
  color:#919CA4;
  margin-top: 3px;
}
.profile-info-sub{
  margin-right: 95px;
}
.follow-button{
  padding: 9px 15px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: black;
  margin-left: 20px;
}
.break{
  flex-basis: 100%;
  height: 0;
}
.fav-hash-tag{
  margin-top: 5px;

}
.author-profile-pic-sub{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}